<mat-card class="h-75 text-center">
    <div class="h5 m-4">
        <p>ברוכים הבאים ל'שעה קלה', מערכת נוחה לפרילנסרים לניהול רישום שעות עבודה</p>
        <p>באפשרותך להיכנס באמצעות חשבון הגוגל שלך, כך אפשר להיכנס למערכת מכל מחשב והנתונים ישמרו.</p>
    </div>

    <button mat-raised-button color="primary" class="btn-lg p-4"
        (click)="loginWithGoogle()">{{strings.signinWithGoogle}}</button>
    <br><br>
    <input [(ngModel)]="phone">
    <button id="sign-in-button" (click)="loginWithPhone()">sign in with phone</button>
    <div id="phone-sign-in-recaptcha"></div>
</mat-card>