<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{strings.appName}}</span>
    <span class="fill-space"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" id="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openGeneralSettings()" [disabled]="!isLoggedIn">
        <mat-icon>settings</mat-icon>
        <span>הגדרות כלליות</span>
      </button>
      <button mat-menu-item (click)="openSettings()" [disabled]="!isLoggedIn">
        <mat-icon>settings</mat-icon>
        <span>הגדרות ללקוח</span>
      </button>
      <button mat-menu-item (click)="logOut()" *ngIf="isLoggedIn">
        <mat-icon>exit_to_app</mat-icon>
        <span>יציאה</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
<!-- <app-client></app-client> -->
<!-- <app-login></app-login> -->

<router-outlet></router-outlet>